<launch>
	<node name="IMU" pkg="simulated_sensors" type="imu_sensor.py"/>
	<node name="temp_sensors" pkg="simulated_sensors" type="temp_sensors.py"/>
	<node name="BME680" pkg="simulated_sensors" type="gas_sensor.py"/>
	<node name="camera" pkg="simulated_sensors" type="start_camera.sh" />
	<node name="thermal_arrays" pkg="simulated_sensors" type="thermal_arrays.py"/>
	<node name="bms" pkg="simulated_sensors" type="bms.py"/>
	<node name="crit_time" pkg="simulated_sensors" type="crit_time.py"/>
</launch>
