<launch>
	<param name="robot_description" textfile="$(find gui)/resource/fred-descr-v1.urdf"/>
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find gui)/resource/fred_rqt_gui.perspective --force-discover"/>
	<node name="thermal_array_converter" pkg="gui" type="thermal_array_converter.py"/>
	<node name="obstacle_marker_pub" pkg="gui" type="obstacle_marker_pub.py"/>
	<node name="position_broadcaster" pkg="positioning" type="position_broadcaster.py"/>
</launch>
