<?xml version='1.0'?>
<launch>
  <arg name="world_name" default="worlds/willowgarage.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
  <node name="spawn_fred" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find gazebo_fred)/fred_model/model.sdf -sdf -x 0 -y 0 -z 0 -model fred"/>
  <node name="drive" pkg="fred" type="drive.py"/>
  <include file="$(find gui)/gui.launch"/>
</launch>
