<?xml version='1.0'?>
<launch>
  <include file="$(find gazebo_fred)/sim_with_gui.launch">
    <arg name="world_name" value="$(find gazebo_fred)/thermal_two_family.world"/>
  </include>
  <remap from="extern_temp" to="extern_temp_sensor"/>
  <node name="temp_sensor" pkg="fred" type="simulated_extern_temp.py"/>
  <node name="intern_temp_sensor" pkg="simulated_sensors" type="intern_temp_sensor.py"/>
</launch>
